/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.logo {
    font-size: 2rem;
    margin: 0;
}

.logo-image {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos da navegação */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: underline;
    color: #000;
}

/* Estilos da busca */
.search {
    margin: auto;
    padding: 20px 5px;
    max-width: 800px;
    text-align: center;
}

input[type="search"] {
    margin-top: 10px;
    height: 50px;
    padding: 16px;
    font-size: 18px;
    border: 1px solid #CCC;
    width: 100%;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
}

.search-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
}

button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    width: 120px;
}

/* Estilos das seções */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    text-align: center; 
}

section a {
    color: #000;
}

section h2,
section p {
    color: #000;
    text-align: justify;
}

/* Estilos do rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
