<style>
  /* Reset CSS */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Global Styles */
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
  }

  a, input {
    color: inherit;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #212121;
      color: white;
    }
  }

  /* Center Alignment */
  .center {
    text-align: center;
  }

  /* Header Styles */
  header {
    text-align: center;
    background-color: #007BFF;
    padding: 15px 0;
  }

  header .logo {
    margin: 10px auto -15px;
    display: block;
    border-radius: 50%;
  }

  header .title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
  }

  header .sub {
    font-size: 18px;
    color: #BBDEFB;
    padding-top: 5px;
  }

  /* Article Styles */
  .text {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 10px;
    text-align: justify;
  }

  .text h1 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .text h2 {
    font-size: 16px;
    margin: -15px 0 5px auto;
    color: #666;
  }

  .text p {
    margin-bottom: 15px;
    line-height: 1.5;
  }

    .footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
  }
</style>
