<style>
  /* Reset CSS */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Global Styles */
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.6;
  }

  a, input {
    color: inherit;
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #212121;
      color: white;
    }
  }

  /* Center Alignment */
  .center {
    text-align: center;
  }

  /* Header Styles */
  header {
    text-align: center;
    background-color: black;
    padding: 20px 0;
  }

  header img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  header .title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }

  header .sub {
    font-size: 18px;
    color: white;
    margin-top: 5px;
  }

  /* Main Content Container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;  
    border: 1px solid #ccc;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Table of Contents */
  .toc {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    color: #000;
  }

  .toc h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .toc ul {
    list-style: none;
    padding-left: 20px;
  }

  .toc li {
    margin-bottom: 5px;
  }

  .toc a {
    text-decoration: underline;
    color: #000;
  }

  /* Chapters */
  .chapter {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
  }

  .chapter h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #000;
  }

  .chapter p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: #000;
  }

  /* Search Form */
  .search {
    margin: auto;
    padding: 20px 5px;
    max-width: 800px;
  }

  input[type="search"] {
    margin-top: 10px;
    height: 50px;
    padding: 16px;
    font-size: 18px;
    border: 1px solid #CCC;
    width: 100%;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
  }

  /* Button Styles */
  button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    width: 120px;
  }

  /* Text Content */
  .text {
    font-size: 18px;
    padding: 0 10px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }

  .text p {
    margin-bottom: 15px;
    line-height: 1.5;
  }

  .text a {
    color: black;
    text-decoration: underline;
    transition: color 0.3s;
  }

  .text h1 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .text h2 {
    font-size: 16px;
    margin: -30px auto 5px;
  }

  /* Footer */
  .footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    background-color: black;
    color: white;
  }
</style>
